<div class="large-5 large-centered columns">
  <div class="login-box">
    <div class="row">
      <div class="large-12 columns large-centered text-center">
        <h2>Contacts App</h2>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <form ng-submit="authUser()" ng-show="showLogin" novalidate>
          <div class="row">
            <div class="large-12 columns">
              <input type="email" name="email" ng-model="email" placeholder="Email Address" required />
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <input type="password" name="password" ng-model="password" placeholder="Password" required/>
            </div>
          </div>
          <div class="row">
            <div class="large-12 large-centered columns text-center">
              <input type="submit" class="button" value="Log In" />
            </div>
            <div class="large-12 large-centered columns text-center">
              <input type="button" class="button" ng-click="showLogin = !showLogin;showSignup = !showSignup" value="Sign Up" />
            </div>
          </div>
        </form>
        <form ng-submit="addUser()" ng-show="showSignup" novalidate>
          <div class="row">
            <div class="large-12 columns">
              <input type="email" ng-model="signupEmail" placeholder="Enter Email Address" required />
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <input type="password" ng-model="signupPassword" placeholder="Enter Password" required pattern="[a-zA-Z0-9]+" />
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <input type="password" ng-model="signupPassword2" placeholder="Re-enter Password" required/>
            </div>
          </div>
          <div class="row">
            <div class="large-12 large-centered columns text-center">
              <input type="submit" class="button" value="Sign Up" />
            </div>
          </div>
          <div class="row">
            <div class="large-12 large-centered columns text-center">
              <input type="button" class="button" ng-click="showLogin = !showLogin;showSignup = !showSignup" value="Login" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>